<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <h4 class="text-dark bg-light mb-5">管理者ログイン</h4>
  </div>
  <div class="row d-flex justify-content-center no-gutters text-center">
      <%= form_with model: @admin, url: session_path(resource_name),local: true do |f| %>
        <div class="input-group mb-3">
          <div class="col-lg-5 text-left">
            <label for="admin_email">メールアドレス</label>
          </div>
          <div class="col-lg-7">
            <%= f.email_field :email, class:"form-control mb-1 mx-0", placeholder:"sample@example.com" %>
          </div>
        </div>

        <div class="input-group mb-3 mx-0">
          <div class="col-lg-5 text-left">
            <label for="admin_password">パスワード</label>
          </div>
          <div class="col-lg-7">
            <%= f.password_field :password, class:"form-control lg mb-1 mx-0" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        <div>
      <% end %>
  </div>
</div>

<%= render "admin/shared/links" %>
